.input {
  padding: 0.5rem;
  width: 100%;
  background: var(--color-surface-100);
  border: none;
  font-family: inherit;
  border: 3px solid var(--secondaryColor);
  border-style: none none solid none;
  font-size: var(--lengthMd1);
}

.input:focus-visible,
.input:focus {
  border-color: var(--color-primary-100);
  outline: none;
}

/* .input::placeholder{
  font-size: 1rem;
} */

@media (prefers-color-scheme: light) {
  .input:focus-visible,
  .input:focus {
    border-color: var(--blue);
  }
}
