.aboutUs {
  /* background: rgba(255, 255, 255,0.85); */
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-behavior: smooth;
}

.video{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.aboutUs section{
  padding: 50px;
  scroll-snap-align: center;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@media screen and (max-width: 768px) {
  .aboutUs section{
    min-height: 100%;
    height: 100%;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .aboutUs section{
    padding: 25px;
  }
}

@keyframes reveal{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}