.navItems {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo{
  max-width: 220px !important;
}

.logo img{
  width: 100%;
  height: 65%;
}

.navItems a {
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: 4px solid var(--color-surface-100);
  border-style: none none solid none;
}

.navItems a:hover {
  border-color: var(--blue);
  background: rgba(255, 255, 255, 0.1);
}

.nav {
  height: 8svh;
  position: sticky;
  top:0;
  z-index: 100;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 0;
  background: var(--color-surface-100);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* .nav *{
  font-size: var(--lengthSm3) !important;
} */

.menuMobile {
  width: 50px;
  background: var(--color-surface-200);
  border: none;
  border-radius: 5px;
  color: var(--color-surface-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 50%;
  display: none;
}

.menuMobile svg {
  color: var(--primaryColor);
  fill: var(--primaryColor);
  height: 90%;
}

.expandMenuMobile {
  width: 100%;
  margin:8svh 0 0 0;
  height: 92svh;
  position: fixed;
  top: 0;
  background: var(--color-surface-100);
  z-index: 50;
  right: 0%;
  transition: all 0.75s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap:1rem 0;
  border: 3px solid var(--blue);
  border-style: solid none none none;
}

.expandMenuMobile a {
  padding: 10px 5px;
  font-size: 2rem;
  text-decoration: none;
  /* border:2px solid var(--blue);
  border-style:solid none none none; */
  background: var(--color-surface-200);
}

.displayMenu {
  right: 100%;
}

.profileDesktop{
  height: 75%;
}


@media screen and (max-width: 768px) {

  .profileDesktop{
    display: none;
    height: 0;
  }

  .menuMobile {
    display: flex;
  }

  .navItems > *:nth-child(n + 2) {
    display: none;
  }

  .logo img{
    width: 25svw;
  }
}

@keyframes toggleMenu {
  0% {
    right: 100%;
  }

  100% {
    right: 0%;
  }
}
