.profileOverview {
  height: 100%;
  img {
    height: 100%;
    object-fit: fill;
    border-radius: 999px;
  }
  display: flex;
  gap: 10px;
  align-items: flex-start;
  b {
    font-weight: bold !important;
  }

  * {
    font-size: var(--lengthMd1) !important;
  }

  p {
    color: var(--blueHover);
    text-decoration: none;
    padding: 5px 0;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .profileOverview {
    height: auto;
    img {
      height: 50px;
    }

    * {
      font-size: var(--lengthMd3) !important;
    }
  }
}
