:root {
  --blue: rgb(46, 165, 230);
  --blueHover:rgb(55, 145, 194);
  --primaryColor: rgb(84, 84, 74);
  --secondaryColor: rgb(26, 26, 25);
  --primaryBackground: rgb(250, 250, 250);
}

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondaryColor);
  cursor: url("/pointer.png"), auto;
}

body {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh 10vh;
}

nav,
footer {
  background: var(--primaryBackground);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


nav img{
  height: 100%;
  width: -webkit-fill-available;
  object-fit: contain;
  cursor: url("/link.png"), auto;
}

nav {
  display: flex;
  font-weight: bold;
  gap:0 1rem;
  font-size: 1.35rem;
  position: sticky;
  height: 10vh;
  top: 0;
  background: var(--primaryBackground);
  align-items: center;
  > a:nth-of-type(1) {
    padding: 0 20px;
    display: flex;
    width: 10vw;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: url("/link.png"), auto;  
    position: relative;
    &:hover {
      transition: background 0.3s ease; /* Agrega una transición al cambio de color de fondo */
      background: rgb(245, 245, 245);
      &::after {
        content: "";
        position: absolute;
        bottom: -1px; /* Ajusta la posición de la línea de subrayado */
        left: 0;
        width: 100%;
        height: 2px; /* Ajusta el grosor de la línea de subrayado */
        background-color: var(--blue); /* Cambia el color del subrayado */
        display: block;
      }
    }
  }

  > a:nth-of-type(n + 2) {
    color: var(--primaryColor);
    min-width: 100px;
    transition: all 0.35s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 15px;
    text-decoration: none;
    transition: all 0.25s ease;
    &:hover {
      transition: background 0.3s ease; /* Agrega una transición al cambio de color de fondo */
      background: rgb(245, 245, 245);
      &::after {
        content: "";
        position: absolute;
        bottom: -1px; /* Ajusta la posición de la línea de subrayado */
        left: 0;
        width: 100%;
        height: 2px; /* Ajusta el grosor de la línea de subrayado */
        background-color: var(--blue); /* Cambia el color del subrayado */
        display: block;
      }
    }
  }

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

main{
  background: url("/bg_light.gif") no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  svg {
    height: 20px;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

/* main {
  background: linear-gradient(189deg, #dff2fc, #f7f7f7);
  background-size: 120% 120%;
  animation: gradient-animation 10s ease infinite;
} */


.cursor {
  cursor: url("/link.png"), auto;
}

a,
button {
  cursor: url("/link.png"), auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  line-height: 1.6rem;
}

button {
  border: none;
  background: var(--blue);
  color: rgb(247, 247, 247);
  padding: 0.938rem 2.5rem;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: background 0.25s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
&:hover{
  background: var(--blueHover);
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue: #005b8b;
    --primaryColor: #ffffff;
    --secondaryColor: #fdfdfd;
    --primaryBackground: #181818;
  }

  button {
    background: var(--blue);
    color: var(--primaryColor);
  }

  main{
    background: url("/bg.gif") no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* main {
    background: linear-gradient(189deg, #232323, #050505);
    background-size: 120% 120%;
    animation: gradient-animation 10s ease infinite;
  } */

  nav {
    > a:nth-of-type(n + 2) {
      color: var(--primaryColor);
      &:hover {
        background: #303030;
        &::after {
          background-color: var(--blue); /* Cambia el color del subrayado */
        }
      }
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
