:root {
  --blue: rgb(46, 165, 230);
  --blueHover: rgb(55, 145, 194);
  --primaryColor: rgb(84, 84, 74);
  --secondaryColor: rgb(26, 26, 25);
  --primaryBackground: rgb(250, 250, 250);
  /** CSS LIGHT THEME PRIMARY COLORS */
  --color-primary-100: #8ec7e5;
  --color-primary-200: #b3d3eb;
  --color-primary-300: #c8e0f1;
  --color-primary-400: #d9ebf5;
  --color-primary-500: #ebf7fa;
  --color-primary-600: #f4f9fc;

  /** CSS LIGHT THEME SURFACE COLORS */
  --color-surface-100: #f4f4f4;
  --color-surface-200: #e8e8e8;
  --color-surface-300: #dbdbdb;
  --color-surface-400: #cccccc;
  --color-surface-500: #bfbfbf;
  --color-surface-600: #aaaaaa;

  /** CSS LIGHT THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #e6e8e9;
  --color-surface-mixed-200: #d7dadb;
  --color-surface-mixed-300: #c2c6c8;
  --color-surface-mixed-400: #acb2b4;
  --color-surface-mixed-500: #959a9c;
  --color-surface-mixed-600: #7d8284;
}

ul > li {
  margin:0 0 7.5px 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

ul > li::before{
  content: "\00BB";
  margin:0 7.5px 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondaryColor);
  cursor: url("/pointer.png"), auto;
}

html {
  font-size: 16px;
}

*:disabled,
.disabled {
  cursor: url("/disabled.png"), auto;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10svh 80svh 10svh;
}

footer {
  background: var(--color-surface-100);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.main > video {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  opacity: 0.4;
}

.main > main {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

footer {
  svg {
    height: 20px;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.cursor {
  cursor: url("/link.png"), auto;
}

.link{
  cursor: url("/link.png"), auto;
}

a,
button {
  cursor: url("/link.png"), auto;
}

h1 {
  font-size: 1.5rem; /* 2.5 veces el tamaño base (40px) */
}

h2 {
  font-size: 1.25rem; /* 2 veces el tamaño base (32px) */
}

h3 {
  font-size: 1.15rem; /* 1.75 veces el tamaño base (28px) */
}

p {
  font-weight: bold;

  line-height: 1.5; /* Espaciado entre líneas para mejorar la legibilidad */
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue: #005b8b;
    --primaryColor: #ffffff;
    --secondaryColor: #fdfdfd;
    --primaryBackground: #181818;

    /* https://colorffy.com/dark-theme-generator */
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #2a93cc;
    --color-primary-200: #4f9ed2;
    --color-primary-300: #6aaad8;
    --color-primary-400: #82b6dd;
    --color-primary-500: #98c2e3;
    --color-primary-600: #adcee9;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #181e22;
    --color-surface-mixed-200: #2d3337;
    --color-surface-mixed-300: #44494c;
    --color-surface-mixed-400: #5c6063;
    --color-surface-mixed-500: #75797b;
    --color-surface-mixed-600: #8f9294;
  }

  .main > video {
    filter: brightness(0.45);
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1240px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1241px) {
  html {
    font-size: 16px;
  }
}