.error404 {
  background: #fafafa;
  /* background-image: url("/404.png"); */

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  position: relative;
}

.error404::after {
  background-image: url("/404.png");
  position: absolute;
  content: "";
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 35%;
  width: 100%;
}

.error404Message {
    z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  grid-column: 4/8;
  grid-row: 8/9;
  text-align: center;font-weight: bold;
}

.error404 a {
  color: var(--color-primary-100);
  
}

@media (prefers-color-scheme: dark) {
  .error404::after {
    filter: invert();
  }
}
