.amplus {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.amplus button {
  width: 100%;
}

.slideA,.slideB{
  grid-column: 1/6;
  grid-row: 8/11;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.slideB{
  padding: 4.5%;
}

.amplus h1,
.amplus h2 {
  text-align: center;
}
.amplus h2 {
  font-weight: normal;
}

.amplus > section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem 0;
  padding: 20px;
}

.amplus a {
  width: 100%;
}

.amplus > section img {
  position: absolute;
}

.objetivos {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
  text-align: justify;
}
.objetivos svg {
  width: 30px;
  height: 30px;
}

.slide1 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.subtitle {
  display: flex;
  gap: 0 1rem;
  padding: 1rem 0;
  align-items: center;
  border: 0.15rem solid var(--primaryColor);
  border-style: none none solid none;
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 480px) {
  .amplus > section {
    width: 90%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .amplus > section {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .slideA,.slideB{
    grid-column: 1/11;
  }
}

.inicio {
  grid-column: 1/11;
  grid-row: 1/11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio * {
  color:white !important
}

.inicio p {
  font-size: 12.5svw;
}

@keyframes changeColor {
  0%,
  33.33% {
    color: #f0e1ee;
  }

  66.66% {
    color: #7e4058;
  }
  100% {
    color: #f0e1ee;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
